In [2]:
import pandas as pd


#### **Series**

A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.

In [3]:
bot = pd.Series([2,4,6,8,10,-5,-6-7])
bot

0     2
1     4
2     6
3     8
4    10
5    -5
6   -13
dtype: int64

In [4]:
bot.array

<NumpyExtensionArray>
[2, 4, 6, 8, 10, -5, -13]
Length: 7, dtype: int64

In [5]:
bot.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
boltu = pd.Series([71,52,69,75,24,26] , index = ['chetona', 'bhasha', 'ovvuthan', 'bongobondhu more nai', 'july', 'league chara'])

boltu

chetona                 71
bhasha                  52
ovvuthan                69
bongobondhu more nai    75
july                    24
league chara            26
dtype: int64

In [7]:
boltu['chetona']

np.int64(71)

In [8]:
import numpy as np

In [9]:
np.exp(bot)

0        7.389056
1       54.598150
2      403.428793
3     2980.957987
4    22026.465795
5        0.006738
6        0.000002
dtype: float64

In [10]:
2 in bot

True

#### **Data Frame**
A DataFrame represents a rectangular table of data and contains an ordered, named collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

In [11]:
cat = { 'Mood': ['Dukhi','Sukhi','Chinta','Darshonik','Utsuk'],
        'Age': [20,7,25,82,15],
        'Friends': [10,5,3,1,20] }

In [12]:
kafka = pd.DataFrame(cat, index = ['Ek','Dui', 'Tin','Char', 'Pach'])
kafka

           Mood  Age  Friends
Ek        Dukhi   20       10
Dui       Sukhi    7        5
Tin      Chinta   25        3
Char  Darshonik   82        1
Pach      Utsuk   15       20

In [13]:
kafka.head(3)

       Mood  Age  Friends
Ek    Dukhi   20       10
Dui   Sukhi    7        5
Tin  Chinta   25        3

In [14]:
kafka.columns

Index(['Mood', 'Age', 'Friends'], dtype='str')

In [15]:
kafka.Mood

Ek          Dukhi
Dui         Sukhi
Tin        Chinta
Char    Darshonik
Pach        Utsuk
Name: Mood, dtype: str

In [16]:
kafka['Mood']

Ek          Dukhi
Dui         Sukhi
Tin        Chinta
Char    Darshonik
Pach        Utsuk
Name: Mood, dtype: str

In [17]:
kafka.loc['Tin']

Mood       Chinta
Age            25
Friends         3
Name: Tin, dtype: object

In [18]:
kafka['Dreams'] = [3,0,5,1,10]

In [19]:
kafka

           Mood  Age  Friends  Dreams
Ek        Dukhi   20       10       3
Dui       Sukhi    7        5       0
Tin      Chinta   25        3       5
Char  Darshonik   82        1       1
Pach      Utsuk   15       20      10

In [20]:
kafka['ishappy'] = kafka.Mood == 'Sukhi'

In [21]:
kafka

           Mood  Age  Friends  Dreams  ishappy
Ek        Dukhi   20       10       3    False
Dui       Sukhi    7        5       0     True
Tin      Chinta   25        3       5    False
Char  Darshonik   82        1       1    False
Pach      Utsuk   15       20      10    False

In [22]:
del kafka['ishappy']

In [23]:
kafka.columns

Index(['Mood', 'Age', 'Friends', 'Dreams'], dtype='str')

In [24]:
kafka.T

            Ek    Dui     Tin       Char   Pach
Mood     Dukhi  Sukhi  Chinta  Darshonik  Utsuk
Age         20      7      25         82     15
Friends     10      5       3          1     20
Dreams       3      0       5          1     10

In [25]:
kafka

           Mood  Age  Friends  Dreams
Ek        Dukhi   20       10       3
Dui       Sukhi    7        5       0
Tin      Chinta   25        3       5
Char  Darshonik   82        1       1
Pach      Utsuk   15       20      10

In [26]:
kafka.columns

Index(['Mood', 'Age', 'Friends', 'Dreams'], dtype='str')

In [27]:
kafka.info()

<class 'pandas.DataFrame'>
Index: 5 entries, Ek to Pach
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Mood     5 non-null      str
 1   Age      5 non-null      int64
 2   Friends  5 non-null      int64
 3   Dreams   5 non-null      int64
dtypes: int64(3), str(1)
memory usage: 372.0+ bytes

In [28]:
print(kafka.to_numpy())

[['Dukhi' 20 10 3]
 ['Sukhi' 7 5 0]
 ['Chinta' 25 3 5]
 ['Darshonik' 82 1 1]
 ['Utsuk' 15 20 10]]

In [29]:
kafka.to_numpy()

array([['Dukhi', 20, 10, 3],
       ['Sukhi', 7, 5, 0],
       ['Chinta', 25, 3, 5],
       ['Darshonik', 82, 1, 1],
       ['Utsuk', 15, 20, 10]], dtype=object)

In [30]:
kafka['Age'].is_unique

True

In [31]:
kafka

           Mood  Age  Friends  Dreams
Ek        Dukhi   20       10       3
Dui       Sukhi    7        5       0
Tin      Chinta   25        3       5
Char  Darshonik   82        1       1
Pach      Utsuk   15       20      10

#### Functionality : Reindexing

In [32]:
kafka2 = kafka.reindex(['Ek','Dui','Tin','Char','Pach', 'Choy'])

In [33]:
kafka2

           Mood   Age  Friends  Dreams
Ek        Dukhi  20.0     10.0     3.0
Dui       Sukhi   7.0      5.0     0.0
Tin      Chinta  25.0      3.0     5.0
Char  Darshonik  82.0      1.0     1.0
Pach      Utsuk  15.0     20.0    10.0
Choy        NaN   NaN      NaN     NaN

In [34]:
obj3 = pd.Series(['Biral','Hati','Kathbiral'], index=[0,2,4])
obj3

0        Biral
2         Hati
4    Kathbiral
dtype: str

In [35]:
obj3.reindex(range(6), method='ffill')

0        Biral
1        Biral
2         Hati
3         Hati
4    Kathbiral
5    Kathbiral
dtype: str

In [36]:
states = ['Mood', 'Age', 'Dreams', 'Friends']
kafka.reindex(columns=states)

           Mood  Age  Dreams  Friends
Ek        Dukhi   20       3       10
Dui       Sukhi    7       0        5
Tin      Chinta   25       5        3
Char  Darshonik   82       1        1
Pach      Utsuk   15      10       20

In [37]:
kafka

           Mood  Age  Friends  Dreams
Ek        Dukhi   20       10       3
Dui       Sukhi    7        5       0
Tin      Chinta   25        3       5
Char  Darshonik   82        1       1
Pach      Utsuk   15       20      10

#### Dropping Entries

In [38]:
obj = pd.Series(np.arange(5.),index=['a', 'b', 'c',
'd', 'e'])

In [39]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [40]:
new_obj = obj.drop('c')

In [41]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [42]:
obj.drop(['c','d','e'])

a    0.0
b    1.0
dtype: float64

In [43]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=['Sukhi', 'Dukhi', 'Chinta', 'Utsuk'],columns=['one', 'two', 'three',
'four'])

In [44]:
data

        one  two  three  four
Sukhi     0    1      2     3
Dukhi     4    5      6     7
Chinta    8    9     10    11
Utsuk    12   13     14    15

In [45]:
data.drop('two', axis = 1, inplace = False)

        one  three  four
Sukhi     0      2     3
Dukhi     4      6     7
Chinta    8     10    11
Utsuk    12     14    15

In [46]:
data

        one  two  three  four
Sukhi     0    1      2     3
Dukhi     4    5      6     7
Chinta    8    9     10    11
Utsuk    12   13     14    15

#### Indexing, Selection & Filtering

In [47]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c','d'])

In [48]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [49]:
obj[obj == 0]

a    0.0
dtype: float64

In [50]:
obj.loc[['b','d']]

b    1.0
d    3.0
dtype: float64

In [51]:
obj1 = pd.Series([1, 2, 3], index=[2, 0, 1])

In [52]:
obj1 [[0,1,2]]

0    2
1    3
2    1
dtype: int64

In [53]:
obj2 = pd.Series([1,2,3], index=['a','b','c'])

In [54]:
obj2

a    1
b    2
c    3
dtype: int64

In [55]:
obj2.iloc[[0,1,2]]

a    1
b    2
c    3
dtype: int64

In [56]:
obj2.loc['b':'c'] = 5

In [57]:
obj2

a    1
b    5
c    5
dtype: int64

In [58]:
data = pd.DataFrame(np.arange(16).reshape((4,4)), index=['chinta', 'sukhi','dukhi','utsuk'], columns = ['one','two','three','four'])

In [59]:
data

        one  two  three  four
chinta    0    1      2     3
sukhi     4    5      6     7
dukhi     8    9     10    11
utsuk    12   13     14    15

In [60]:
data.two

chinta     1
sukhi      5
dukhi      9
utsuk     13
Name: two, dtype: int64

In [61]:
data[['three','one']]

        three  one
chinta      2    0
sukhi       6    4
dukhi      10    8
utsuk      14   12

In [62]:
data<5

          one    two  three   four
chinta   True   True   True   True
sukhi    True  False  False  False
dukhi   False  False  False  False
utsuk   False  False  False  False

In [63]:
data [data['two']>5]  #what does it mean?

       one  two  three  four
dukhi    8    9     10    11
utsuk   12   13     14    15

In [64]:
data.loc['chinta',['two','three']]

two      1
three    2
Name: chinta, dtype: int64

In [65]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: dukhi, dtype: int64

In [67]:
data['two']

chinta     1
sukhi      5
dukhi      9
utsuk     13
Name: two, dtype: int64

In [68]:
ser = pd.Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64